@use '../../styles/colors' as colors;
@use "../../styles/functions" as functions;

.firm-facts-card {
    padding: functions.responsive-clamp(50px) functions.responsive-clamp(27px);
    width: 100%;
    height: 100%;
    border-color: colors.$light-color;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    background-color: colors.$light-color;

    &--default--isHovered {
        background-color: colors.$hover-color;
    }

    &--border--isHovered {
        box-shadow: inset 0 0 0 functions.responsive-clamp(15px) colors.$hover-color;
        transition: box-shadow 0.3s ease;
    }

    &--disableHover {
        pointer-events: none;
    }

    &--center {
        align-items: center;
    }

    &--top {
        align-items: flex-start;
    }
}