@use '../../styles/colors' as colors;

.firm-facts-card {
    padding: 27px;
    width: 100%;
    height: 100%;
    border-color: colors.$light-color;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;

    &--default {
        &:hover {
            background-color: colors.$hover-color;
        }
    }

    &--border {
        &:hover{
            box-shadow: inset 0 0 0 15px colors.$hover-color;
            transition: box-shadow 0.3s ease;
        }
    }
}