@use '../../styles/colors' as colors;
@use "../../styles/functions" as functions;
@use "sass:math";

.firm-facts {
    max-width: 1680px;
    background-color: #2D3E4E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: functions.responsive-clamp(50px) functions.responsive-clamp(85px) functions.responsive-clamp(85px) functions.responsive-clamp(85px);
    margin-top: 100px;

    &--close-container {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: functions.responsive-clamp(33px);
    }

    &--close-image {
        width: functions.responsive-clamp(44px);
        height: functions.responsive-clamp(44px);
        cursor: pointer;
    }

    &--title {
        font-size: functions.responsive-clamp(60px);
        color: colors.$light-color;
        width: 100%;
        max-width: 1680px;
    }

    &--line {
        width: 100%;
        max-width: 1680px;
        height: functions.responsive-clamp(1px);
        background-color: colors.$light-color;
        margin-top: functions.responsive-clamp(22px);
        margin-bottom: functions.responsive-clamp(51px);
        opacity: 0.2;
    }

    &--cards-layout{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(2, auto);
        gap: functions.responsive-clamp(18px);
        max-width: 1680px;
        background-color: colors.$primary-color;
    }
  
    &--card {
        width: auto;
        aspect-ratio: math.div(functions.calc-aspect-ratio(364, 322), 1);
    }
  
    &--card-with-two-rows {
        grid-row: span 2;
        aspect-ratio: math.div(functions.calc-aspect-ratio(364, 322), 2);
        height: 100%;
        width: 100%;
    }
  }
  